html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: "Raleway", sans-serif;
}

h2 {
    font-family: 'Lato', sans-serif;
}

h3 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

a {
    color: #00586f;
    text-decoration: underline;
}

a:hover{
    color: #a0b0b6;
}



/*-----Header & Footer-----*/
.page_header {
    min-height: 1000px;
    background: url("../img/header/header_1080p.png"), center no-repeat;
    background-size: cover;
}

.header_text {
    margin-top: 75px;
    display: none;
    text-shadow: 2px 2px #000000;
}

.display-2 {
    color: #ffffff;
}

.display-1 {
    color: #ffffff
}

.footer {
    margin-top: 50px;
}



/*-----Sections-----*/
.section_header {
    margin-bottom: 20px;
}

.section_title {
    color: #00586f;
    word-break: break-all;
}

.section_title.about_me {
    margin-top: 50px;
    text-decoration: underline;
}

.about_me_text {
    font-size: 16pt;
}

.divider {
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.img_separator {
    max-width: 100%;
}

.col_left {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 18pt; 
}

.col_right {
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    font-size: 16pt;
}

#downloadButton {
    display: block;
    height: 100px;
    width: 160px;
}


/*-----Media-Queries-----*/
@media all and (max-width: 980px) {
    .page_header {
        height: 100vh;
        min-height: 500px;
        background: url("../img/header/header_980p.png"), center no-repeat;
        background-size: cover;
    }

    .section_title {
        font-size: 1.7em;
    }
}

@media all and (max-width: 736px) { 
    .page_header {
        height: 100vh;
        min-height: 500px;
        background: url("../img/header/header_736p.png"), center no-repeat;
        background-size: cover;
    }
}