/*-----fonts-----*/
@import url("https://fonts.googleapis.com/css2?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/*-----variables & root-attributes-----*/
:root {
  --f-size: 84;
  --f-unit: 1px;
  --f: calc(var(--f-size) * var(--f-unit));
  --bgc: transparent;
}

*, *::after, *::before {
  box-sizing: border-box;
}

/*-----tags-----*/
html {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #df00ab;
}

footer {
  font-family: "Audiowide";
}

a {
  color: #ffffff;
  text-decoration: underline;
}

a:hover {
  color: #eeb5e9;
  cursor: pointer;
}

/*-----classes-----*/
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.content {
  background-image: url("../img/background_1080p.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.modal-header {
  font-family: "Audiowide";
}

.modal-content {
  font-family: "Roboto";
  color: white;
  background-color: #434444;
}

.modal-footer {
  font-family: "Roboto";
  color: white;
  background-color: #434444;
  text-align: center;
}

.modal i {
  margin-left: 10px;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 75%;
  margin: 25px 0 25px 0;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.subtext {
  font-family: "Audiowide";
  color: white;
  font-size: 48px;
}

/*-----IDs-----*/
#download-btn {
  height: 90px;
  width: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: none;
}

#text-root {
  background: var(--bgc);
  font-family: "Audiowide";
  font-size: 48px;
  font-weight: bold;
  left: 50%;
}

#text-glitch {
  top: 0;
  left: -6px;
  color: #ff00e1;
  mix-blend-mode: screen;
  position: relative;
  white-space: nowrap;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
  -webkit-animation: skew 2s infinite;
  -moz-animation: skew 2s infinite;
  -o-animation: skew 2s infinite;
  animation: skew 2s infinite;
}
#text-glitch:after, #text-glitch:before {
  content: attr(data-text);
  position: absolute;
  mix-blend-mode: screen;
}
#text-glitch:after {
  top: 0;
  left: 6px;
  color: blue;
  -webkit-animation: move 1.5s infinite;
  -moz-animation: move 1.5s infinite;
  -o-animation: move 1.5s infinite;
  animation: move 1.5s infinite;
}
#text-glitch:before {
  top: -2.4px;
  left: 3.6px;
  color: #00ff37;
}

#title-root {
  font-family: "Audiowide";
  font-size: var(--f);
  background: var(--bgc);
  display: flex;
  margin: 50px 0 0 0;
  overflow: hidden;
}

#title-glitch {
  flex: 1;
  line-height: 0.75;
  margin: auto;
  color: #1af0dc;
  text-align: center;
  transform: scaleX(var(--scale, 1));
}
#title-glitch::before, #title-glitch::after {
  --top: 0;
  --left: 0;
  --v-height: 30%;
  --n-tenth: calc(var(--f-size) * .1 * var(--top));
  --t-cut: calc(var(--n-tenth) / var(--f-size) * 100%);
  --b-cut: calc(var(--t-cut) + var(--v-height));
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  transform: translateX(calc(var(--left) * 100%));
  filter: drop-shadow(0 0 transparent);
  text-shadow: calc(var(--left) * -3em) 0 0.02em #00ff37, calc(var(--left) * -6em) 0 0.02em #ff00e1;
  background-color: var(--bgc);
  clip-path: polygon(0% var(--t-cut), 100% var(--t-cut), 100% var(--b-cut), 0% var(--b-cut));
}
#title-glitch::before {
  animation: glitch-b 2s infinite alternate-reverse;
}
#title-glitch::after {
  animation: glitch-a 3.5s infinite alternate;
}

/*-----keyframes-----*/
@keyframes glitch-a {
  10%, 30%, 50%, 70%, 90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
  }
  20% {
    --left: .005;
  }
  40% {
    --left: .01;
    --v-height: 20%;
    --top: 3;
  }
  60% {
    --left: .03;
    --v-height: 25%;
    --top: 6;
  }
  80% {
    --left: .07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: .083;
    --v-height: 30%;
    --top: 1;
  }
}
@keyframes glitch-b {
  10%, 30%, 50%, 70%, 90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
    --top: 10;
  }
  20% {
    --left: -.005;
  }
  40% {
    --left: -.01;
    --v-height: 17%;
    --top: 3;
  }
  60% {
    --left: -.03;
    --v-height: 35%;
    --top: 6;
  }
  80% {
    --left: -.07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: -.083;
    --v-height: 30%;
    --top: 1;
  }
}
@keyframes skew {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30.2% {
    -webkit-transform: skewX(50deg);
    -moz-transform: skewX(50deg);
    -ms-transform: skewX(50deg);
    -o-transform: skewX(50deg);
    transform: skewX(50deg);
  }
  30.4% {
    -webkit-transform: skewX(-50deg);
    -moz-transform: skewX(-50deg);
    -ms-transform: skewX(-50deg);
    -o-transform: skewX(-50deg);
    transform: skewX(-50deg);
  }
  31% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@keyframes move {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  31% {
    -webkit-transform: translateX(-6px);
    -moz-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
    -o-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  33% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  98% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: translateX(6px);
    -moz-transform: translateX(6px);
    -ms-transform: translateX(6px);
    -o-transform: translateX(6px);
    transform: translateX(6px);
  }
}
/*-----Media-Queries-----*/
@media all and (max-width: 1440px) {
  .page_header {
    height: 100vh;
    min-height: 500px;
    background: url("../img/background_1440p.png"), center no-repeat;
    background-size: cover;
  }
}
@media all and (max-width: 1080px) {
  .page-background {
    background: url("../img/background_1080p.png"), center no-repeat;
    background-size: cover;
  }
}
@media all and (max-width: 980px) {
  .page-background {
    background: url("../img/background_980p.png"), center no-repeat;
    background-size: cover;
  }

  :root {
    --f-size: 64;
    --f-unit: 1px;
    --f: calc(var(--f-size) * var(--f-unit));
    --bgc: transparent;
  }
}
@media all and (max-width: 736px) {
  .page-background {
    background: url("../img/background_720p.png"), center no-repeat;
    background-size: cover;
  }

  :root {
    --f-size: 54;
    --f-unit: 1px;
    --f: calc(var(--f-size) * var(--f-unit));
    --bgc: transparent;
  }
}

/*# sourceMappingURL=custom.css.map */
